{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Vistorias Master</title>
    <link href="{% static 'formulario_vistoria/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'formulario_vistoria/js/jquery.min.js' %}"></script>
    <link href="{% static 'formulario_vistoria/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <script src="{% static 'formulario_vistoria/js/fileinput.min.js' %}"></script>
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#"><a class="navbar-brand" href="#">Usuário: {{ first_name }} {{ last_name }}</a></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
        {% if permissoes.permissoes_clientes %}
        <li><a href="{% url 'formulario_vistoria:cadastro_posto' %}">Cadastrar Posto</a></li>
        {% else %}
        <li><a href="#">Início</a></li>
        <li><a href="#">Opções</a></li>
        <li><a href="#">Perfil</a></li>
        {% endif %}
        <li><a href="{% url 'user_management:desautenticacao' %}">Sair</a></li>
       </ul>
      </div>
     </div>
    </nav>
    <br>
    <br>
    <br>
    {% if show_empty_data == True %}
      <div class="row">
        <div class="alert alert-success">
          <strong>Laudo armazenado com sucesso!</strong>
        </div>
      </div>
    {% endif %}
    <div id="main" class="container-fluid">
     <div id="top" class="row">
        <div class="col-md-3">
            <h2>Laudos</h2>
        </div>
     <form action="{% url 'formulario_vistoria:index' pagina=pagina_corrente %}" method="post">
     {% csrf_token %}
        <div class="col-md-6">
            <div class="input-group h2">
                {% if pesquisa_laudo == '' %}
                  <input name="data_search" class="form-control" id="search" type="text" placeholder="Pesquisar Laudos">
                {% else %}
                  <input name="data_search" class="form-control" id="search" type="text" value="{{ pesquisa_laudo }}">
                {% endif %}
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            {% if permissoes.permissoes_clientes %}
              <a href="{% url 'formulario_vistoria:solicitacao_vistoria' %}" class="btn btn-primary pull-right h2">Solicitar Vistoria</a>
            {% endif %}
        </div>
     </div> <!-- /#top -->
 
     <hr />
     <div class="row">
       <div class="form-group col-md-4">
         <label for="nome_posto">Ordenar por:</label>
         <div class="input-group">
          <select class="form-control" name="ordenar_por">
            <option value="0" {{ ordenacao_0 }}>Número da Proposta &darr;</option>
            <option value="1" {{ ordenacao_1 }}>Número da Proposta &uarr;</option>
            <option value="2" {{ ordenacao_2 }}>Razão Social &darr;</option>
            <option value="3" {{ ordenacao_3 }}>Razão Social &uarr;</option>
            <option value="4" {{ ordenacao_4 }}>Data de Criação &darr;</option>
            <option value="5" {{ ordenacao_5 }}>Data de Criação &uarr;</option>
            <option value="6" {{ ordenacao_6 }}>Data do Parecer &darr;</option>
            <option value="7" {{ ordenacao_7 }}>Data da Parecer &uarr;</option>
            <option value="8" {{ ordenacao_8 }}>Status &darr;</option>
            <option value="9" {{ ordenacao_9 }}>Status &uarr;</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Ordenar</button>
          </span>
        </div>   
       </div>
      </div>
     <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Número da Proposta</th>
                        <th>Razão Social</th>
                        <th>Data de Criação</th>
                        <th>Data do Parecer</th>
                        <th>Status</th>
                        <th class="actions">Ações</th>
                     </tr>
                </thead>
                <tbody>
                  {% for laudo in laudos %}
                    <tr>
                        {% if laudo.status == 3 %}
                          <td><b>{{ laudo.numero_proposta }}</b></td>
                        {% else %}
                          <td>{{ laudo.numero_proposta }}</td>
                        {% endif %}
                        {% if laudo.status == 3 %}
                          <td><b>{{ laudo.posto.nome }}</b></td>
                        {% else %}
                          <td>{{ laudo.posto.nome }}</td>
                        {% endif %}
                        {% if laudo.status == 3 %}
                          <td><b>{{ laudo.data_criacao }}</b> </td>
                        {% else %}
                          <td>{{ laudo.data_criacao }}</td>
                        {% endif %}
                        {% if laudo.data_permissao == None %}
                          <td></td>
                        {% else %}
                          <td>{{ laudo.data_permissao }}</td>
                        {% endif %}
                        {% if laudo.status == 0 %}
                          <td>AGUARDANDO ANÁLISE</td>
                        {% elif laudo.status == 1 %}
                          <td>CONCLUÍDO</td>
                        {% elif laudo.status == 2 %}
                          <td>NÃO SUBMETIDO</td>
                        {% elif laudo.status == 3 %}
                          <td><b>NOVA SOLICITAÇÃO</b></td>
                        {% endif %}
                        <td class="actions">
                            {% if permissoes.visualizar_formulario or permissoes.emitir_parecer %}
                              {% if laudo.status != 3 %}
                                <a class="btn btn-success btn-xs" href="{% url 'formulario_vistoria:visualizar_laudo' laudo_id=laudo.id %}">Visualizar</a>
                              {% endif %}
                            {% endif %}
                            {% if permissoes.preencher_formulario %}
                              {% if laudo.status == 3 %}
                                <a class="btn btn-success btn-xs" href="{% url 'formulario_vistoria:preenchimento_formulario_vistoria' laudo_id=laudo.id %}">Preencher</a>
                              {% else %}
                                {% if laudo.status != 1 %}
                                <a class="btn btn-warning btn-xs" href="{% url 'formulario_vistoria:visualizar_editar_laudo' laudo_id=laudo.id %}">Editar</a>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                            {% if laudo.status == 1 %}
                                <a class="btn btn-primary btn-xs" href="{% url 'formulario_vistoria:abrir_pdf' laudo=laudo.id %}" download>PDF</a>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
     
                </tbody>
             </table>
     
         </div>
     </div> <!-- /#list -->
       <div id="bottom" class="row">
          <div class="col-md-12">             
              <ul class="pagination">
                  {% if pagina_anterior != -1 %}
                      <li class="previous"><a href="/formulario_vistoria/index/{{ pagina_anterior }}">&lt; Anterior</a></li>
                  {% else %}
                      <li class="disabled"><a>&lt; Anterior</a></li>
                  {% endif %}
                  {% if pagina_posterior != -1 %}
                      <li class="next"><a href="/formulario_vistoria/index/{{ pagina_posterior }}" rel="next">Próximo &gt;</a></li>
                  {% else %}
                      <li class="disabled"><a>Próximo &gt;</a></li>
                  {% endif %}
              </ul><!-- /.pagination -->
          </div>
      </div> <!-- /#bottom -->
    </form>
    </div>  <!-- /#main -->
    <script src="{% static 'formulario_vistoria/js/bootstrap.min.js' %}"></script>
</body>
</html>