{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Vistorias Master</title>
    <link href="{% static 'formulario_vistoria/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'formulario_vistoria/js/jquery.min.js' %}"></script>
    <link href="{% static 'formulario_vistoria/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <script src="{% static 'formulario_vistoria/js/fileinput.min.js' %}"></script>
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Sistema de Vistorias Master</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Início</a></li>
        <li><a href="#">Opções</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="{% url 'user_management:desautenticacao' %}">Sair</a></li>
       </ul>
      </div>
     </div>
    </nav>
    <br>
    <div id="main" class="container-fluid">
     <h3 class="page-header">{{ laudo }} LAUDO DE INSPEÇÃO PRELIMINAR LIP</h3>
     <form action="{% url 'formulario_vistoria:index' %}" method="post">
        {% csrf_token %}
        <!-- area de campos do form -->
        <div class="row">
         <div class="form-group col-md-8">
           <label for="nome_posto">Nome/Razão Social do Posto:</label>
            <select class="form-control" name="id_posto" disabled>
              {% for posto in postos %}
                <option value={{ posto.id }}>{{ posto.nome }}</option>
              {% endfor %}
            </select>
         </div>
         <div class="form-group col-md-4">
           <label for="numero_proposta">N° Proposta: </label>
           <input type="text" class="form-control" name="input_num_proposta" disabled>
         </div>
        </div>
        <hr />
        <div class="row">
         <div class="form-group col-md-2">
           <label for="registro_anp">Registro ANP</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_reg_anp" value="Inexistente/Vencido" checked disabled>Inexistente/Vencido</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_reg_anp" value="Definitivo" disabled>Definitivo</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_reg_anp" value="Provisório" disabled>Provisório</label>
         </div>         
         <div class="form-group col-md-4">
           <label for="registro_anp_numero">Número</label>
           <input type="text" class="form-control" nome="reg_anp_num" disabled>
         </div>
         <div class="form-group col-md-3">
           <label for="registro_anp_data_expedicao">Data da Expedição</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name="registro_anp_data_expedicao" disabled/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
         </div>
         <div class="form-group col-md-3">
           <label for="registro_anp_validade">Data de Validade</label>
           <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" name="registro_anp_validade" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
        </div>
        <div class="row">
         <div class="form-group col-md-2">
           <label for="alvara_funcionamento">Alvará de Funcionamento</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_alv_func" value="Inexistente/Vencido" checked disabled>Inexistente/Vencido</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_alv_func" value="Definitivo" disabled>Definitivo</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_alv_func" value="Provisório" disabled>Provisório</label>
           <br>
         </div>         
         <div class="form-group col-md-4">
           <label for="alv_func_numero">Número</label>
           <input type="text" class="form-control" name="alv_func_num" disabled>
         </div>
         <div class="form-group col-md-3">
           <label for="alv_func_data_expedicao">Data da Expedição</label>
           <div class='input-group date' id='datetimepicker3'>
              <input type='text' class="form-control" name="alv_func_data_expedicao" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
         <div class="form-group col-md-3">
           <label for="alv_func_validade">Data de Validade</label>
           <div class='input-group date' id='datetimepicker4'>
              <input type='text' class="form-control" name="alv_func_validade" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
        </div>
        <div class="row">
         <div class="form-group col-md-2">
           <label for="licenca_ambiental">Licença Ambiental</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_lic_amb" value="Inexistente/Vencido" checked disabled>Inexistente/Vencido</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_lic_amb" value="LP" disabled>LP</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_lic_amb" value="LI" disabled>LI</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_lic_amb" value="LO" disabled>LO</label>
         </div>         
         <div class="form-group col-md-4">
           <label for="lic_amb_numero">Número</label>
           <input type="text" class="form-control" name="lic_amb_num" disabled>
         </div>
         <div class="form-group col-md-3">
           <label for="lic_amb_data_expedicao">Data da Expedição</label>
           <div class='input-group date' id='datetimepicker5'>
              <input type='text' class="form-control" name="lic_amb_data_expedicao" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
         <div class="form-group col-md-3">
           <label for="lic_amb_validade">Data de Validade</label>
           <div class='input-group date' id='datetimepicker6'>
              <input type='text' class="form-control" name="lic_amb_validade" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
        </div>
        <div class="row">
         <div class="form-group col-md-2">
           <label for="atestado_regularidade">Atestado de Regularidade</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_atest_reg" value="Sim" disabled>Sim</label>
           <br>
           <label class="radio-inline"><input type="radio" name="radio_atest_reg" value="Não" checked disabled>Não</label>
           <br>
         </div>         
         <div class="form-group col-md-4">
           <label for="atest_reg_numero">Número</label>
           <input type="text" class="form-control" name="atest_reg_num" disabled>
         </div>
         <div class="form-group col-md-3">
           <label for="atest_reg_data_expedicao">Data da Expedição</label>
           <div class='input-group date' id='datetimepicker7'>
              <input type='text' class="form-control" name="atest_reg_data_expedicao" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
         <div class="form-group col-md-3">
           <label for="atest_reg_validade">Data de Validade</label>
           <div class='input-group date' id='datetimepicker8'>
              <input type='text' class="form-control" name="atest_reg_validade" disabled/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
         </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
           <label for="observacao">Observação</label>
           <input type="text" class="form-control" name="observacao" disabled>
          </div>
        </div>
        <hr />
          <label for="servicos_disponiveis">Serviços Disponíveis</label>
          <br>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_venda_comb" disabled>Venda de Combustíveis</label>
            </div>
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_troca_oleo" disabled>Troca de Óleo</label>
            </div>
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_lav_veiculos" disabled>Lavagem de Veículos</label>
            </div>
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_ofic_mec" disabled>Oficina Mecânica</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_lanc_conven" disabled>Restaurante/Lanchonete/Loja de Conveniência</label>
            </div>
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_gas_cozinha" disabled>Venda de Gás de Cozinha</label>
            </div>
            <div class="form-group col-md-6">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="serv_outros" disabled>Outros:</label>
              <input type="text" class="form-control" name="outros_servicos" disabled>
            </div>
          </div>
        <hr />
          <label for="infraestrutura_disponivel">Infraestrutura Disponível</label>
          <br>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="valv_ret_vap" disabled>Válvula retentora de vapor</label>              
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_val_ret_vap">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_val_ret_vap" value="Indisponível"checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_val_ret_vap" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_val_ret_vap" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_val_ret_vap" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="tanq_sub_par_dup_jaq" disabled>Tanque subterrâneo parede dupla jaquetado (NBR 13.785 da ABNT)</label>
            </div>
            <div class="form-group col-md-6">
                <label for="tanq_sub_par_dup_jaq_data_inst">Data da instalação: </label>
                <div class='input-group date' id='datetimepicker9'>
                    <input type='text' class="form-control" name="tanq_sub_par_dup_jaq_data_inst" disabled/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
          </div>
          <div class="row">           
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="poco_mon" disabled>Poço de monitoramento</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_poco_mon">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_poco_mon" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_poco_mon" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_poco_mon" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_poco_mon" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="can_ilha_bom" disabled>Caneletas de ilha de bombas</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_can_ilha_bom">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_can_ilha_bom" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_can_ilha_bom" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_can_ilha_bom" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_can_ilha_bom" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="can_per" disabled>Caneletas de perímetro</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_can_per">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_can_per" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_can_per" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_can_per" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_can_per" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="piso_alisado_bombas" disabled>Piso em concreto alisado na pista de bombas</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_piso_alisado_bombas">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_piso_alisado_bombas" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_piso_alisado_bombas" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_piso_alisado_bombas" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_piso_alisado_bombas" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="can_int_sao" disabled>Canaletas interligadas ao SAO</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_can_int_sao">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_can_int_sao" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_can_int_sao" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_can_int_sao" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_can_int_sao" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="sist_det_vaz" disabled>Possui sistema de detecção de vazamentos</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_sist_det_vaz">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_sist_det_vaz" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_sist_det_vaz" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_sist_det_vaz" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_sist_det_vaz" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="lav_vei_piso_can_sao" disabled>Área de lavagem de veículos com piso, canaletas e SAO</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_lav_vei_piso_can_sao">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_lav_vei_piso_can_sao" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_lav_vei_piso_can_sao" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_lav_vei_piso_can_sao" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_lav_vei_piso_can_sao" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="area_oleo_piso" disabled>Área de troca de óleo com piso, canaletas e SAO</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_area_oleo_piso">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_area_oleo_piso" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_area_oleo_piso" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_area_oleo_piso" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_area_oleo_piso" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="area_res_piso" disabled>Área de armazenamento de resíduos coberta com piso</label>
            </div>
            <div class="form-group col-md-9">
                <label for="estado_conservacao_area_oleo_piso">Estado de conservação: </label>
                <label class="radio-inline"><input type="radio" name="radio_area_res_piso" value="Indisponível" checked disabled>Indisponível</label>
                <label class="radio-inline"><input type="radio" name="radio_area_res_piso" value="Bom" disabled>Bom</label>
                <label class="radio-inline"><input type="radio" name="radio_area_res_piso" value="Regular" disabled>Regular</label>
                <label class="radio-inline"><input type="radio" name="radio_area_res_piso" value="Precário" disabled>Precário</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="at_red_pub_san" disabled>Atendido pela rede pública de saneamento</label>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="form-group col-md-3">
               <label for="quant_tanq_uni_list">Quantidade de tanques (unidade)</label>
            </div>
            <div class="form-group col-md-1">
                <select class="form-control" name="quant_tanq_uni_select" id="quant_tanq_uni_select" disabled>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
             </div>
          </div>
          <div class="row">       
           <div class="form-group col-md-4">
             <label for="cap_tot_arm">Capacidade total de armazenamento (litros)</label>
             <input type="text" class="form-control" name="cap_tot_arm_txt" disabled>
           </div>
          </div>
        <hr />
        <label for="hist_sin_acid_local">Histórico de sinistros/acidentes no local</label>
          <br>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="checkbox-inline"><input type="checkbox" value="True" name="houve_sinistro" disabled>Houve sinistro nos cinco últimos anos</label>              
            </div>
             <div class="form-group col-md-4">
               <label for="prej_est_label">Prejuízo, estimativa R$: </label>
               <input type="text" class="form-control" name="prej_estim" disabled>
             </div>
             <div class="form-group col-md-4">
               <label for="sinistro_data">Data: </label>
                <div class='input-group date' id='datetimepicker10'>
                <input type='text' class="form-control" name="sinistro_data" disabled/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
             <label for="ocorrencia_sinistro">Ocorrência: </label>
             <input type="text" class="form-control" name="ocorrencia_text" disabled>
            </div>
          </div>
        <hr />
        <div id="actions" class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input id="foto-upload" type="file" class="foto-upload" name="fotos-upload" multiple=true data-preview-file-type="any" disabled>
            </div>
          </div>
        </div>
        <hr />
        <div id="actions" class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Voltar</button>
          </div>
        </div>
     </form>
    </div>
    <script src="{% static 'formulario_vistoria/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'formulario_vistoria/js/moment.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#foto-upload").fileinput({
                maxFileSize: 500,
                previewTemplates: true,
                uploadUrl: "{% url 'formulario_vistoria:foto_upload' %}"
            });
            $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker3').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker4').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker5').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker6').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker7').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker8').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker9').datetimepicker({format: 'YYYY-MM-DD'});
            $('#datetimepicker10').datetimepicker({format: 'YYYY-MM-DD'});
        });
    </script>
</body>
</html>